<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Route</title>
</head>
<body>
        <h1><%= listings.title %></h1>
        <p><%= listings.description %></p>
        <h5>&#36;<%= listings.price.toLocaleString("en-US")%></h5>
        <h5><%= listings.location %></h5>
        <h5><%= listings.country %></h5>
</body>
</html>