<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <div class="card" style="width: 45rem;height: 28rem;">
        <img src="<%= listings.image %>" class="card-img-top" alt="hotel image">
        <div class="card-body">
            <h5 class="card-title"><%= listings.title %></h5>
            <p class="card-text"><%= listings.description %></p>
            <h5>&#36;<%= listings.price%></h5>
            <h5><%= listings.location %></h5>
            <h5><%= listings.country %></h5>
            <a href="/listing/<%= listings._id %>/edit" class="btn btn-primary">
        <form method="GET" action="/listing/<%= listings._id %>/edit">
            Edit
        </form></a>
        <a href="/listing/<%= listings._id %>?_method=DELETE" class="btn btn-primary">
        <form method="POST" action="/listing/<%= listings._id %>?_method=DELETE">
            Delete
        </form>
        </a>
    </div>
    </div>
</body>
