<% layout("/layouts/boilerplate.ejs") -%>
<body>
        <h1><%= listings.title %></h1>
        <p><%= listings.description %></p>
        <h5>&#36;<%= listings.price%></h5>
        <h5><%= listings.location %></h5>
        <h5><%= listings.country %></h5>
        <form method="GET" action="/listing/<%= listings._id %>/edit">
            <button>Edit</button>
        </form>
        <form method="POST" action="/listing/<%= listings._id %>?_method=DELETE">
            <button>Delete</button>
        </form>
</body>
