<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <div class="card" style="width: 45rem;height: 28rem;">
        <img src="<%= listings.image %>" class="card-img-top" alt="hotel image">
        <div class="card-body">
            <h5 class="card-title"><%= listings.title %></h5>
            <p class="card-text"><%= listings.description %></p>
            <h5>&#36;<%= listings.price%></h5>
            <h5><%= listings.location %></h5>
            <h5><%= listings.country %></h5>
            <a href="/listing/<%= listings._id %>/edit" class="btn btn-primary">
        <form method="GET" action="/listing/<%= listings._id %>/edit">
            Edit
        </form></a>
        <a href="/listing/<%= listings._id %>?_method=DELETE" class="btn btn-primary">
        <form method="POST" action="/listing/<%= listings._id %>?_method=DELETE">
            Delete
        </form>
        </a>
    </div><br><br><br><br>
    <div>
        <hr>
        <h4>Leave a Review</h4><br>
        <input type="range" min="1" max="5" class="form-range" name="review[rate]"><br>
        <textarea placeholder="type here..." cols="30" rows="4" name = "review[comment]"></textarea><br>
        <form method="post" action="listing/<%= listings._id %>/review">
        <button class="btn btn-dark">Submit</button>
    </form>
    </div>
    </div>
</body>
